$colorBlue: red;

body {
	width:100%;
	height: 100vh;
	margin: 0;
}

.wrapper {
  width: 100%;
}

.nofavourite {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, purple, pink);

}

.favourite {
  background-color: red;
  border: 4px solid black;
}


.film-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,200px));
  grid-gap: 20px;

}

.imgContainer {
  width: 100px;
  background-image: 
  background-size: cover;
}
