
$fontTitle: 'Coda Caption', sans-serif, cursive;
$fontPrimary: 'Gaegu', cursive;
$fontFat: 700;
$fontLight: 400;
$fontsize-s: 20px;
$fontsize-m: 30px;
$fontsize-l: 50px;


//Colors:
$color-primary: purple;
$color-secondary: pink;
$background-primary: #e7e1ef;
$color-primary-focus: yellow;
$color-secondary-focus: green;
