$colorBlue: red;

* {
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
  width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
  background-color: $background-primary;
	// background-image: url('../../images/descarga.png');
	// background-size: cover;

}

.nofavourite {
	@include beautifulCard ();
  background: linear-gradient(to bottom, $color-primary, $color-secondary);


}

.favourite {
	@include beautifulCard ();
	background: linear-gradient(to bottom, $color-primary-focus, $color-secondary-focus);
  border: 4px solid black;

}

.main {
	display: flex;
}
.film-container {
  padding: 20px;
  display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(200px,200px));
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
  grid-gap: 20px;

}

.imgContainer {
  //width: 100px;
  //background-image: url (img.scr)
  //background-size: cover;
}

.titleContainer {
	display: block;
	font-family: $fontPrimary;
	font-size: $fontsize-m;
	color: $color-primary;
	font-weight: $fontFat;
	width: 210px;


}
