.header {

}

.title {
  font-family: $fontTitle;
  font-weight: $fontFat;
  font-size: $fontsize-l;
}

.label {
  font-family: $fontPrimary;
  font-size: $fontsize-s;
}
.searchContainer {
  padding: 10px;
}

.inputSearch {
  border: 2px solid $color-secondary;
  color: $color-primary;
  height: 30px;
  font-family: $fontPrimary;
  font-size: $fontsize-s;
}
