.btnSearch {
  background-color: $color-primary;
  border-radius: 8px;
  color: $background-primary;
  font-weight: $fontFat;
  height: 30px;
  width: 70px;
  text-align: center;
  border: 2px solid $color-secondary;
}
